<h1>Frontend Security Audit</h1>
<p>
  Bestimmung von Angriffsvektoren ins und aus dem Frontend von webbasierten Anwendungen.
  Wir untersuchen ihre Webanwendung nach den Richtlinien der Standards der OWASP, des BSI sowie des CWE Verzeichnisses und unterstützen bei der Beseitigung von Schwachstellen. Sei es dauerhafter Support oder ein einmaliges Audit, sprechen sie uns an.
</p>
<ul>
  <li>OWASP (Application Security Verification Standard)</li>
  <li>BSI (Leitfaden zur Entwicklung sicherer Webanwendungen)</li>
  <li>CWE (Common Weakness Enumeration)</li>
</ul>
