<h1>Tobias Krogh</h1>
<p class="center">
  <img src="assets/team/tobias_krogh.jpg" class="team hexagon-img" title="Tobias Krogh" />
</p>

<p class="center"><strong>Geschäftsführer</strong></p>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>eMail:</td>
      <td><a href="mailto:krogh@locity.de">krogh@locity.de</a></td>
    </tr>
  </tbody>
</table>
<p class="image-line">
  <a target="_blank" href="https://github.com/TobiasKrogh">
    <i class="icon github" title="GitHub"></i>
  </a>

  <a target="_blank" href="https://www.xing.com/profile/Tobias_Krogh">
    <i class="icon small xing" title="XING"></i>
  </a>

  <a target="_blank" href="https://www.linkedin.com/in/tobias-krogh-hh">
    <i class="icon small linkedin" title="LinkedIn"></i>
  </a>

  <a target="_blank" href="http://stackoverflow.com/users/1342159/tobias-krogh">
    <i class="icon small stackoverflow" title="Stackoverflow"></i>
  </a>
</p>
