<h1>Entwicklung</h1>
<p>
  Neben einer hohen Expertise in gängigen Webtechnologien wie JavaScript (ES6) / TypeScript / HTML / CSS / SASS haben wir uns in den folgenden Bereichen spezialisiert:
</p>
<ul>
  <li>Single-Page-Webanwendung Angular / React (SPA)</li>
  <li>Mobile Apps mit NativeScript / React Native</li>
  <li>API Backend Entwicklung mit Node / Go (z.B. GraphQL, REST, Microservices)</li>
  <li>Testautomatisierung (CI/CD Pipeline)</li>
  <li>Deployment mit Docker und Kubernetes</li>
  <li>Aufbau und Betreuung von Webauftritten (z.B. Wordpress)</li>
</ul>
