<h1>Marco Lehmann</h1>
<p class="center">
  <img src="assets/team/marco_lehmann.jpg" class="team hexagon-img" title="Marco Lehmann" />
</p>

<p class="center"><strong>Geschäftsführer</strong></p>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Telefon:</td>
      <td><a href="tel:+491795201820">+49.179.5201820</a></td>
    </tr>
    <tr>
      <td>eMail:</td>
      <td><a href="mailto:lehmann@locity.de">lehmann@locity.de</a></td>
    </tr>
    <tr>
      <td>Web:</td>
      <td><a target="_blank" href="http://mlee.de">mlee.de</a></td>
    </tr>
  </tbody>
</table>
<p class="image-line">
  <a target="_blank" href="https://github.com/themlee">
    <i class="icon github" title="GitHub"></i>
  </a>

  <a target="_blank" href="https://www.xing.com/profile/Marco_Lehmann4">
    <i class="icon small xing" title="XING"></i>
  </a>

  <a target="_blank" href="https://www.linkedin.com/in/marcolehmannhh">
    <i class="icon small linkedin" title="LinkedIn"></i>
  </a>

  <a target="_blank" href="https://twitter.com/themlee">
    <i class="icon small twitter" title="Twitter"></i>
  </a>

  <a target="_blank" href="http://stackoverflow.com/users/8102667/marco-lehmann">
    <i class="icon small stackoverflow" title="Stackoverflow"></i>
  </a>
</p>
