<div class="cell">
  <a *ngIf="links.TL !== ''" routerLink="/{{links.TL}}">{{links.TL}}</a>
  <a *ngIf="links.TR !== ''" routerLink="/{{links.TR}}">{{links.TR}}</a>
  <a *ngIf="links.BL !== ''" routerLink="/{{links.BL}}">{{links.BL}}</a>
  <a *ngIf="links.BR !== ''" routerLink="/{{links.BR}}">{{links.BR}}</a>
  <a *ngIf="links.L !== ''" routerLink="/{{links.L}}">{{links.L}}</a>
  <a *ngIf="links.R !== ''" routerLink="/{{links.R}}">{{links.R}}</a>
  <p>
    hexagon {{key}}
  </p>
  <p>
    {{content}}
  </p>
</div>