<h1>Kontakt</h1>

<p>
  <strong>Postadresse</strong><br />
  Locity GmbH<br />
  Neusurenland 160<br />
  22159 Hamburg<br />
</p>

<p>
  <strong>Telefon</strong><br />
  <a href="tel:+494060941595">+49.40.60941595</a>
</p>

<p>
  <strong>eMail</strong><br />
  <a href="mailto:contact@locity.de">contact@locity.de</a>
</p>

<p>
  <strong>Geschäftsführung</strong><br />
  Marco Steinhoff - <a href="mailto:steinhoff@locity.de">steinhoff@locity.de</a>
  <br />
  Tobias Kroght - <a href="mailto:krogh@locity.de">krogh@locity.de</a>
</p>
