<h1>SEO Audit</h1>
<p>
  Verbessern sie ihr Ranking und die Präsentation ihrer Suchergebnisse, indem sie ihre Webseiten mit uns auf den neuesten Stand der Technik bringen. Lassen sie uns ihnen helfen technische und inhaltliche Optimierungspotentiale aufzudecken.
</p>
<ul>
  <li>OnPage Optimierung</li>
  <li>
    Optimierung technischer Kriterien
    <ul>
      <li>Ladeverhalten</li>
      <li>Download Größe</li>
      <li>Semantik</li>
      <li>Bilder</li>
    </ul>
  </li>
  <li>Einsatz von strukturierten Daten
    <ul>
      <li>JSON-LD</li>
      <li>Microdata</li>
    </ul>
  </li>
  <li>Analyse interner / externer Links</li>
  <li>Accelerated Mobile Pages (AMP)</li>
  <li>Social Media Optimierung (SMO)
    <ul>
      <li>Open Graph</li>
      <li>Twitter Cards</li>
    </ul>
  </li>
  <li>SEO for Single Page Apps<br />
    Machen sie mit uns ihre Angular / React App fit für die Suchmaschine und profitieren sie davon, dass ihr Content gefunden und geteilt werden kann.
    <ul>
      <li>Server-Side-Rendering</li>
      <li>Prerendering</li>
    </ul>
  </li>
</ul>
