<div [ngSwitch]="component" class="cell" [ngClass]="{'active': cellKey === currentKey, 'blank': cellKey === '', 'logo': cellKey === 'home'}">
  <svg-icon  [svgStyle]="{ 'width.%': 100, 'margin-top.%': -28.91 }" *ngIf="cellKey === 'home'" src="/assets/icons/locity.svg"></svg-icon>
  <ng-container *ngIf="cellKey === currentKey">
    <nav *ngIf="links.TL || links.BR" class="tlbr">
      <span *ngIf="links.TL" class="pos-tl"><a routerLink="{{getLink(links.TL)}}">{{getTitle(links.TL)}}</a></span>
      <span *ngIf="links.BR" class="pos-br"><a routerLink="{{getLink(links.BR)}}">{{getTitle(links.BR)}}</a></span>
    </nav>
    <nav *ngIf="links.BL || links.TR" class="trbl">
      <span *ngIf="links.TR" class="pos-tr"><a routerLink="{{getLink(links.TR)}}">{{getTitle(links.TR)}}</a></span>
      <span *ngIf="links.BL" class="pos-bl"><a routerLink="{{getLink(links.BL)}}">{{getTitle(links.BL)}}</a></span>
    </nav>
    <nav *ngIf="links.L || links.R" class="lr">
      <span *ngIf="links.L" class="pos-l"><a routerLink="{{getLink(links.L)}}">{{getTitle(links.L)}}</a></span>
      <span *ngIf="links.R" class="pos-r"><a routerLink="{{getLink(links.R)}}">{{getTitle(links.R)}}</a></span>
    </nav>
    <main app-imprint *ngSwitchCase="'imprint'"></main>
  </ng-container>
</div>