@font-face {
  font-family: 'Maven Pro';
  src: url('/assets/fonts/MavenPro-Medium.ttf')  format('truetype');
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Maven Pro', Verdana, sans-serif;
  height: 100%;
}

main {
  z-index: 1;
  position: relative;
  height: 118%;
  width: 70%;
  top: -12%;
  left: 15%;
  color: #fafafa;
  overflow: scroll;
  pointer-events: auto;
  >h1 {
    text-align: center;
  }
}

nav {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  &.tlbr {
    transform: rotate(60deg);
  }
  &.trbl {
    transform: rotate(-60deg);
  }
  span {
    pointer-events: none;
    width: 100%;
    text-align: center;
    position: absolute;
    display: block;
    height: 100%;
    &.pos-l {
      transform: rotate(-90deg);
      right: 20%;
    }
    &.pos-r {
      transform: rotate(90deg);
      left: 20%;
    }
    &.pos-tl {
      transform: rotate(-90deg);
      right: 20%;
    }
    &.pos-tr {
      transform: rotate(90deg);
      left: 20%;
    }
    &.pos-bl {
      transform: rotate(90deg);
      left: -74%;
    }
    &.pos-br {
      transform: rotate(-90deg);
      right: -74%;
    }
  }
  a {
    pointer-events: all;
    font-size: 20px;
  }
}

a.impressum-link, 
a.copywrite-link {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: block;
}

a.copywrite-link {
  right: auto;
  left: 10px;
}

.view-box-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

a {
  user-select: none;
  &:link, &:visited, &:active, &:hover {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    color: #ddd;
  }
  &.dark {
    &:link, &:visited, &:active, &:hover {
      color: #4671D5;
      &:hover {
        color: #3661C5;
      }
    }
  }
}

.brand {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1000;
  h1 {
    display: inline-block;
    margin: 0 0 0 6px;
    top: 5px;
    position: absolute;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 1);
  }
}

.cell {
  position: relative;
  opacity: 0.4;
  width: 100%;
  height: 67.3%;
  background-color: #000;
  transition: all 500ms linear;
  &:before, &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    top: 0;
    left: 0;
  }
  &:before {
    transform: rotate(60deg);
  }
  &:after {
    transform: rotate(-60deg);
  }
  &.active {
    opacity: 0.95;
    background-color: #4671d5;
  }
  &.blank {
    // opacity: 0.1;
    // opacity: 1;
    // background-color: #000;
  }
  &.logo {
    background-color: rgba(0, 0, 0, 0.0);
  }
}

.odd .cell {
  margin: 0 -25.5% 0 25.5%;
}

.even .cell {
  margin: 0 25.5% 0 -25.5%;
}

main .content {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  &.resp-image img { width: 100%; }
  .title, img { user-select: none; }
}

.cell-bg {
  fill: #FFD073;
}

.view-box {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 800px;
  margin: 0 4px;
}

.view-box > div > div {
  width: 100%;
  height: 100%;
  position: absolute;
}

.view-box > div {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

$cell_min_width: 320;
$cell_max_width: 800;

@media screen and (max-width: $cell_min_width + 0px) {
  .cell {
    nav {
      a {
        font-size: 10px;
      }
    }
    main {
      font-size: 10px;
      table { font-size: 10px; }
      &>h1  { font-size: 12px; }
      h1    { font-size: 11px; }
      h2    { font-size: 10px; }
      h3    { font-size: 10px; }
      h4    { font-size: 10px; }
      .icon {
        &:before {
          transform: scale(.8);
        }
        &.small {
          &:before {
            transform: scale(.48);
          }
        }
      }
    }
  }
}

@media screen and (min-width: $cell_min_width + 1px) and (max-width: $cell_max_width + 0px) {
  .cell {
    nav {
      a {
        font-size: 2.9vw;
      }
      .pos-l {
        right: 21%;
      }
      .pos-r {
        left: 21%;
      }
      .pos-tl {
        right: 21%;
      }
      .pos-tr {
        left: 21%;
      }
      .pos-bl {
        left: -73%;
      }
      .pos-br {
        right: -73%;
      }
    }
    main {
      font-size: 2.1vw;
      table { font-size: 2.1vw; }
      &>h1  { font-size: 4vw; }
      h1    { font-size: 3.6vw; }
      h2    { font-size: 3.2vw; }
      h3    { font-size: 2.6vw; }
      h4    { font-size: 2.4vw; }
    }

    &.logo {
      nav {
        a {
          font-size: 4.5vw;
        }
        .pos-l {
          right: 17.5%;
        }
        .pos-r {
          left: 17.5%;
        }
        .pos-tl {
          right: 17.5%;
        }
        .pos-tr {
          left: 17.5%;
        }
        .pos-bl {
          left: -68.5%;
        }
        .pos-br {
          right: -68.5%;
        }
      }
    }
  }
}

@media screen and (min-width: $cell_max_width + 1px) {
  .cell {
    nav {
      span a {
        font-size: 20px;
      }
    }
    main {
      font-size: 18px;
      table { font-size: 18px; }
      &>h1  { font-size: 32px; }
      h1    { font-size: 30px; }
      h2    { font-size: 24px; }
      h3    { font-size: 22px; }
      h4    { font-size: 20px; }
    }
    &.logo {
      nav {
        a {
          font-size: 38px;
        }
        .pos-l {
          right: 17.5%;
        }
        .pos-r {
          left: 17.5%;
        }
        .pos-tl {
          right: 17.5%;
        }
        .pos-tr {
          left: 17.5%;
        }
        .pos-bl {
          left: -68.5%;
        }
        .pos-br {
          right: -68.5%;
        }
      }
    }
  }
}
