<div class="cell">
  <a *ngIf="links.TL !== ''" routerLink="/{{links.TL}}">{{links.TL}}</a>
  <a *ngIf="links.TR !== ''" routerLink="/{{links.TR}}">{{links.TR}}</a>
  <a *ngIf="links.BL !== ''" routerLink="/{{links.BL}}">{{links.BL}}</a>
  <a *ngIf="links.BR !== ''" routerLink="/{{links.BR}}">{{links.BR}}</a>
  <a *ngIf="links.L !== ''" routerLink="/{{links.L}}">{{links.L}}</a>
  <a *ngIf="links.R !== ''" routerLink="/{{links.R}}">{{links.R}}</a>
  <p>
    hexagon {{key}}
  </p>
  <p>
    {{content}}
  </p>
</div>


<!-- <div class="hex-cell cell-{{key}} active">
  <div class="hex-offset">
    <svg width="100%" viewBox="0 0 477 551" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path class="cell-bg" d="M238.5 0l237.724 137.25v274.5L238.5 549 .776 411.75v-274.5z"/>
        <a *ngIf="links.TL !== ''" attr.xlink:href="/{{links.TL}}">
          <path class="cell-click-area" d="M238.5 0L.78 137.25 42 161.05 238.5 47.6z"/>
          <text transform="rotate(-30.000000)" x="69.4" y="142.5">
            <tspan width="300" alignment-baseline="middle" text-anchor="middle">{{links.TL}}</tspan>
            <use attr.xlink:href="/{{links.TL}}" routerLink="/{{links.TL}}"></use>
          </text>
        </a>
        <use *ngIf="links.BL !== ''" routerLink="/{{links.BL}}" attr.xlink:href="/{{links.BL}}">
          <path class="cell-click-area" d="M.78 411.75L238.5 549v-47.6L42 387.95z"/>
          <text transform="rotate(30.000000)" x="344" y="338.2">
            <tspan width="300" alignment-baseline="middle" text-anchor="middle">{{links.BL}}</tspan>
          </text>
        </use>
        <use *ngIf="links.BR !== ''" routerLink="/{{links.BR}}" attr.xlink:href="/{{links.BR}}">
          <path class="cell-click-area" d="M476.22 411.75L238.5 549v-47.6L435 387.95z"/>
          <text transform="rotate(-30.000000)" x="70" y="577">
            <tspan width="300" alignment-baseline="middle" text-anchor="middle">{{links.BR}}</tspan>
          </text>
        </use>
        <use *ngIf="links.TR !== ''"  routerLink="/{{links.TR}}" attr.xlink:href="/{{links.TR}}">
          <path class="cell-click-area" d="M238.5 0l237.72 137.25-41.22 23.8L238.5 47.6z"/>
          <text transform="rotate(30.000000)" x="343.6" y="-96">
            <tspan width="300" alignment-baseline="middle" text-anchor="middle">{{links.TR}}</tspan>
          </text>
        </use>
        <use *ngIf="links.L !== ''" routerLink="/{{links.L}}" attr.xlink:href="/{{links.L}}">
          <path class="cell-click-area" d="M.78 411.75v-274.5L42 161.05v226.9z"/>
          <text transform="rotate(-90.000000)" x="-274.5" y="24">
            <tspan width="300" alignment-baseline="middle" text-anchor="middle">{{links.L}}</tspan>
          </text>
        </use>
        <use *ngIf="links.R !== ''"  routerLink="/{{links.R}}" attr.xlink:href="/{{links.R}}">
          <path class="cell-click-area" d="M476.22 411.75v-274.5L435 161.05v226.9z"/>
          <text transform="rotate(90.000000)" x="274" y="-453.5">
            <tspan width="300" alignment-baseline="middle" text-anchor="middle">{{links.R}}</tspan>
          </text>
        </use>
    </svg>
    <section>{{content}}</section>
  </div>
</div> -->